{% extends 'base.html' %}
{% block menu_atendente %}

    <li><a href="/insere_profissional/">Insere Profissional</a>
    </li>

    <li><a href="/insere_cliente/">Insere Cliente</a>
    </li>
    <li><a href="/cria_campanha/">Insere Campanha</a>
    </li>
    <li><a href="/insere_fornecedor/">Insere Fornecedor</a>
    </li>
    <li><a href="/insere_produto/">Insere Produto</a>
    </li>
    <li><a href="/insere_compra_produtos/">Insere Compra Produtos</a>
    </li>
    <li><a href="/insere_retirada_produtos/">Insere Retirada de Produtos</a>
    </li>

    <li><a href="/insere_orcamento_odonto/">Insere Orçamento Odonto</a>
    </li>
    <li><a href="/insere_orcamento_psico/">Insere Orçamento Psico</a>
    </li>
    <li><a href="/insere_orcamento_nutri/">Insere Orçamento Nutri</a>
    </li>
    <li><a href="/insere_recebimento_plano/">Insere Recebimento Plano</a>
    </li>
    <li><a href="/insere_atendiemento_avulso/">Insere Atendimento Independente</a>
    </li>
    <li><a href="/insere_contrato_odonto/">Insere Contrato Odonto</a>
    </li>
    <li><a href="/insere_contrato_psico/">Insere Contrato Psico</a>
    </li>
    <li><a href="/insere_contrato_nutri/">Insere Contrato Nutri</a>
    </li>
    <li><a href="/insere_relatorio_exame_odonto/">Insere Relatório de Exame Odonto</a>
    </li>
    <li><a href="/insere_relatorio_exame_psico/">Insere Relatório de Exame Psico</a>
    </li>
    <li><a href="/insere_relatorio_exame_nutri/">Insere Relatório de Exame Nutri</a>
    </li>
    <li><a href="/insere_agendamento_plano_odonto/">Insere Agendamento Plano Odonto</a>
    </li>
    <li><a href="/insere_agendamento_plano_nutri/">Insere Agendamento Plano Nutri</a>
    </li>
    <li><a href="/insere_agendamento_plano_psico/">Insere Agendamento Plano Psico</a>
    </li>

{% endblock %}
    {% block conteudo %}
    <form action="." method="post">
        {% csrf_token %}
        {{ form.errors }}
        {% if valor_pago < 100 %}
            <h3>O cliente pagou até {{ valor_pago }}% do total do contrato.</h3>
        {% endif %}
        {{ form.as_p }}
        <div class="pull-right">
            <button type="submit" class="btn btn-success">ENVIAR</button>
            <button type="reset" class="btn btn-danger">CANCELAR</button>
        </div>
    </form>
    {% endblock %}