{% extends 'base.html' %}

{% block titulo %}Início{% endblock %}
{% block menu_atendente %}
    <li><a href="/insere_profissional/">Insere Profissional</a>
    </li>

    <li><a href="/insere_cliente/">Insere Cliente</a>
    </li>
    <li><a href="/cria_campanha/">Insere Campanha</a>
    </li>
    <li><a href="/insere_fornecedor/">Insere Fornecedor</a>
    </li>
    <li><a href="/insere_produto/">Insere Produto</a>
    </li>
    <li><a href="/insere_compra_produtos/">Insere Compra Produtos</a>
    </li>
    <li><a href="/insere_retirada_produtos/">Insere Retirada de Produtos</a>
    </li>

    <li><a href="/insere_orcamento_odonto/">Insere Orçamento Odonto</a>
    </li>
    <li><a href="/insere_orcamento_psico/">Insere Orçamento Psico</a>
    </li>
    <li><a href="/insere_orcamento_nutri/">Insere Orçamento Nutri</a>
    </li>
    <li><a href="/insere_recebimento_plano/">Insere Recebimento Plano</a>
    </li>
    <li><a href="/insere_atendiemento_avulso/">Insere Atendimento Independente</a>
    </li>
    <li><a href="/insere_contrato_odonto/">Insere Contrato Odonto</a>
    </li>
    <li><a href="/insere_contrato_psico/">Insere Contrato Psico</a>
    </li>
    <li><a href="/insere_contrato_nutri/">Insere Contrato Nutri</a>
    </li>
    <li><a href="/insere_relatorio_exame_odonto/">Insere Relatório de Exame Odonto</a>
    </li>
    <li><a href="/insere_relatorio_exame_psico/">Insere Relatório de Exame Psico</a>
    </li>
    <li><a href="/insere_relatorio_exame_nutri/">Insere Relatório de Exame Nutri</a>
    </li>
    <li><a href="/insere_agendamento_plano_odonto/">Insere Agendamento Plano Odonto</a>
    </li>
    <li><a href="/insere_agendamento_plano_nutri/">Insere Agendamento Plano Nutri</a>
    </li>
    <li><a href="/insere_agendamento_plano_psico/">Insere Agendamento Plano Psico</a>
    </li>
{% endblock %}
{% block conteudo %}
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Grafico
                <small style="color: #26B99A; font-weight: bold;">Total Contratos</small>
                <small style=" font-weight: bold;">x</small>
                <small style="color: #03586A; font-weight: bold;">Total Orçamentos</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
{#                    <ul class="dropdown-menu" role="menu">#}
{#                        <li><a href="#" style="color: #26B99A">Total dos contratos</a>#}
{#                        </li>#}
{#                        <li><a href="#" style="color: #03586A">Total dos orçamentos</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <canvas id="canvas_bar" height="246" width="493" style="width: 493px; height: 246px;"></canvas>
        </div>
    </div>
</div>


<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="x_panel fixed_height_320">
        <div class="x_title">
            <h2>Ocupação <small>Sessões</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="tile" style="width:100%">
                <tbody><tr>
                    <th style="width:37%;">
                        <span>Top 5</span>
                    </th>
                    <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <span class="hidden-small">Disbursement</span>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <span class="hidden-small">Progress</span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td>
                        <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0px; width: 140px; height: 140px;"></canvas>
                    </td>
                    <td>
                        <table class="tile_info">
                            <tbody><tr>
                                <td>
                                    <p><i class="fa fa-square blue"></i>IOS </p>
                                </td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td>
                                    <p><i class="fa fa-square green"></i>Android </p>
                                </td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td>
                                    <p><i class="fa fa-square purple"></i>Blackberry </p>
                                </td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td>
                                    <p><i class="fa fa-square aero"></i>Symbian </p>
                                </td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td>
                                    <p><i class="fa fa-square red"></i>Others </p>
                                </td>
                                <td>30%</td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>
<div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
    <div class="tile-stats">
        <div class="icon"><i class="fa fa-comments-o"></i>
        </div>
        <div class="count">179</div>

        <h3>New Sign ups</h3>
        <p>Lorem ipsum psdea itgum rixt.</p>
    </div>
</div>
<div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
    <div class="tile-stats">
        <div class="icon"><i class="fa fa-check-square-o"></i>
        </div>
        <div class="count">179</div>

        <h3>New Sign ups</h3>
        <p>Lorem ipsum psdea itgum rixt.</p>
    </div>
</div>
    <script>
        var randomScalingFactor = function () {
            return Math.round(Math.random() * 100)
        };
        var barChartData = {
            labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            datasets: [
                {
                    fillColor: "#26B99A", //rgba(220,220,220,0.5)
                    strokeColor: "#26B99A", //rgba(220,220,220,0.8)
                    highlightFill: "#36CAAB", //rgba(220,220,220,0.75)
                    highlightStroke: "#36CAAB", //rgba(220,220,220,1)
                    data: [{{ Janeiro }}, {{ Fevereiro }}, {{ Marco }}, {{ Abril }}, {{ Maio }}, {{ Junho }}, {{ Julho }}, {{ Agosto }},
                        {{ Setembro }}, {{ Outubro }}, {{ Novembro }}, {{ Dezembro }}]},

                {
                    fillColor: "#03586A", //rgba(151,187,205,0.5)
                    strokeColor: "#03586A", //rgba(151,187,205,0.8)
                    highlightFill: "#066477", //rgba(151,187,205,0.75)
                    highlightStroke: "#066477", //rgba(151,187,205,1)
                    data: [41, 56, 25, 48, 72, 34, 12, 10 ,18 ,9 ,33, 51]
            }
        ]
        };

        $(document).ready(function () {
            new Chart($("#canvas_bar").get(0).getContext("2d")).Bar(barChartData, {
                tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                responsive: true,
                barDatasetSpacing: 6,
                barValueSpacing: 5
            });
        });

        $('document').ready(function () {

            var doughnutData = [
                {
                    value: 30,
                    color: "#455C73"
                },
                {
                    value: 30,
                    color: "#9B59B6"
                },
                {
                    value: 60,
                    color: "#BDC3C7"
                },
                {
                    value: 100,
                    color: "#26B99A"
                },
                {
                    value: 120,
                    color: "#3498DB"
                }
    ];
            var myDoughnut = new Chart(document.getElementById("canvas1").getContext("2d")).Doughnut(doughnutData);

        })


    </script>
{% endblock %}