{% extends 'base.html' %}
{% block menu_atendente %}

    <li><a href="/insere_profissional/">Insere Profissional</a>
    </li>

    <li><a href="/insere_cliente/">Insere Cliente</a>
    </li>
    <li><a href="/cria_campanha/">Insere Campanha</a>
    </li>
    <li><a href="/insere_fornecedor/">Insere Fornecedor</a>
    </li>
    <li><a href="/insere_produto/">Insere Produto</a>
    </li>
    <li><a href="/insere_compra_produtos/">Insere Compra Produtos</a>
    </li>
    <li><a href="/insere_retirada_produtos/">Insere Retirada de Produtos</a>
    </li>

    <li><a href="/insere_orcamento_odonto/">Insere Orçamento Odonto</a>
    </li>
    <li><a href="/insere_orcamento_psico/">Insere Orçamento Psico</a>
    </li>
    <li><a href="/insere_orcamento_nutri/">Insere Orçamento Nutri</a>
    </li>
    <li><a href="/insere_recebimento_plano/">Insere Recebimento Plano</a>
    </li>
    <li><a href="/insere_atendiemento_avulso/">Insere Atendimento Independente</a>
    </li>
    <li><a href="/insere_contrato_odonto/">Insere Contrato Odonto</a>
    </li>
    <li><a href="/insere_contrato_psico/">Insere Contrato Psico</a>
    </li>
    <li><a href="/insere_contrato_nutri/">Insere Contrato Nutri</a>
    </li>
    <li><a href="/insere_relatorio_exame_odonto/">Insere Relatório de Exame Odonto</a>
    </li>
    <li><a href="/insere_relatorio_exame_psico/">Insere Relatório de Exame Psico</a>
    </li>
    <li><a href="/insere_relatorio_exame_nutri/">Insere Relatório de Exame Nutri</a>
    </li>
    <li><a href="/insere_agendamento_plano_odonto/">Insere Agendamento Plano Odonto</a>
    </li>
    <li><a href="/insere_agendamento_plano_nutri/">Insere Agendamento Plano Nutri</a>
    </li>
    <li><a href="/insere_agendamento_plano_psico/">Insere Agendamento Plano Psico</a>
    </li>

{% endblock %}
    {% block conteudo %}
    <form action="." method="post">
        {% csrf_token %}
        {{ form.errors }}
        <div class="col-md-10 col-sm-10 col-lg-10">
            <div class="col-sm-8 col-md-8 col-lg-8">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                {{ form.sex.label_tag }}
                {{ form.sex }}
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2">
                <br />
                {{ form.active.label_tag }}
                {{ form.active }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form.birth_day.label_tag }}
                {{ form.birth_day }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form.date_register.label_tag }}
                {{ form.date_register }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form.rg.label_tag }}
                {{ form.rg }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form.cpf.label_tag }}
                {{ form.cpf }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form.phone.label_tag }}
                {{ form.phone }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form.city.label_tag }}
                {{ form.city }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form.street.label_tag }}
                {{ form.street }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form.district.label_tag }}
                {{ form.district }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form.cep.label_tag }}
                {{ form.cep }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form.profession.label_tag }}
                {{ form.profession }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <br /><br />
                <a href="#" onclick="window.open('/insere_contato_cliente_indica/', 'Pagina', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');"><span class="glyphicon glyphicon-user" style="font-weight: bold;"> Adicionar Indicação </span></a><br ><br >
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                {{ form.Note.label_tag }}
                {{ form.Note }}
            </div>

        </div>
        <br >
        

        <div class="col-md-10 mid_center">
            <button type="submit" class="btn btn-success">ENVIAR</button>
            <button type="reset" class="btn btn-danger">CANCELAR</button>
        </div>

    </form>
    {% endblock %}